---
import Layout from "../layouts/Layout.astro";
import { Advice } from "../components/Advice"
---

<Layout pageTitle="Advice Generator App">
	<main class="px-4 w-full flex items-center justify-center">
		<Advice client:load />
	</main>
</Layout>
